body,
html {
  margin: 0;
  padding: 0;
  background: #f4f7fa;
}

.app {
  display: flex;
  position: relative;
}

.drop-zone__layer {
  position: absolute;
  left: 340px;
  top: 0px;
  bottom: 0;
  right: 0;
  background: rgba(161, 166, 170, 0.5);
  z-index: 5;
}
